[Unit]
Description=Rclone WebGUI (rclone)
AssertPathIsDirectory=/home/pi/rclone-webui-react
After=rclone-automount.service

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/rclone rcd --rc-web-gui --config=/home/pi/.config/rclone/rclone.conf --rc-addr 0.0.0.0:5572 --rc-user=gui --rc-pass=moment
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
