{
  "audio" : "False",
  "video": "True",
  "raw_audio": "False",
  "framerate": "30",
  "resolution": "1080p",
  "time_segment": 60,
  "recording_location": "/home/pi/Videos/",
  "full_raw_save_location": "/home/pi/Moment_Save/raw/",
  "moment_save_location": "/home/pi/Moment_Save/final/",
  "drive_location": "/home/pi/drive/Garage_Videos/",
  "log_location": "/home/pi/Moment_Save/logs/",
  "log": "True",
  "orientation": "vertical"
}